body {
    height: 100vh;
    width: 100vw;
}

.pageheader {
    height: vh;
}

.leftright {
    height: 98vh;
    width: 100vw;
}

.left {
    background-color: aqua;
    width: 25%;
    height: 100;
}

.todocontainer {
    height: 100%;
}

.weekdaycontainer {
    height: 200px;
    width: 100%;
    background-color: azure;
    font-weight: bolder;
    font-size: 30px;
}

.weekday {
    background-color: red;
    padding: 10px;
}

.optionscontainer {
    height: 100%;
}

.todocontainer {
    background-color: red;
    height: 100%;
}

.todoadd {
    background-color: cornflowerblue;
}

.todoaddheader {
    font-size: larger;
    font-weight: bold;
}

.currenttodo {
    background-color: chartreuse;
    width: 100%;
    height: 100%;
}

.currenttodoheader {
    font-size: larger;
    font-weight: bold;
}

/*to do li interaction, tempStyling*/
.toDoUL li {
    cursor: pointer;
    margin: 5px;
    padding: 0px 1rem;
    position: relative;
    background: #eee;
    transition: 0.2s;
    user-select: none;
}

/* hover on to do li, tempStyling*/
.currenttodo li:hover {
    background: #ddd;
}

/* line through checked off to do's, tempStyling */
li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Lägg till checkmark på checkade to do's, tempStyling*/
li.checked::before {
    left: 0%;
    position: absolute;
    content: '✔';
}

/* close button positioning */
.close {
    position: absolute;
    right: 0;
}

/* tempStyling for "Add" button */
.btnAddToDo {
    padding: 10px;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
}
  
.btnAddToDo:hover {
    background-color: #bbb;
}


.right {
    background-color: brown;
    width: 75%;
    height: 100;
}

.calendarcontainer {}

.dayscontainer {
    width: 100%;
    background-color: cyan;
}

ul.days>li {
    /* finns bättre sätt än % för att dem skall fylla perfekt */
    width: 14%;
    background-color: red;
    text-align: center;
}

.calendar {
    width: 100%;
    height: 100%;
    background-color: darkgreen;
}